services:
  hyvor-relay-api:
    image: hyvor/relay:latest
    container_name: hyvor-relay-api
    expose:
      - 80
    labels:
      caddy: relay.apps.ottomato.ai
      caddy.reverse_proxy: {{upstreams 80}}
    environment:
      - APP_ENV=${APP_ENV}
      - APP_SECRET=${APP_SECRET}
      - DATABASE_URL=postgresql://relay:${DB_PASSWORD}@hyvor-relay-db:5432/relay?serverVersion=17&charset=utf8
      - INSTANCE_DOMAIN=${INSTANCE_DOMAIN}
      - OIDC_CLIENT_ID=${OIDC_CLIENT_ID}
      - OIDC_CLIENT_SECRET=${OIDC_CLIENT_SECRET}
      - OIDC_ISSUER_URL=${OIDC_ISSUER_URL}
      - WEB_URL=${WEB_URL}
      - SERVICE_URL_API=${SERVICE_URL_API}
      - SERVICE_FQDN_API=${SERVICE_FQDN_API}
    restart: unless-stopped
    volumes:
      - relay-data:/data
    depends_on:
      - hyvor-relay-db
    networks:
      - coolify
      
  hyvor-relay-db:
    image: postgres:17-alpine
    container_name: hyvor-relay-db
    environment:
      - POSTGRES_USER=relay
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=relay
    volumes:
      - relay-db:/var/lib/postgresql/data
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -U relay -d relay
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    networks:
      - coolify
      
networks:
  coolify:
    external: true
    
volumes:
  relay-data: 
  relay-db:
