services:
  db:
    image: postgres:17
    container_name: hyvor-relay-db
    restart: always
    environment:
      - POSTGRES_DB=relay
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - hyvor-network

  api:
    build: .
    container_name: hyvor-relay-api
    restart: always
    command: ["sh", "/app/run"]
    expose:
      - "80"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.relay.rule=Host(`relay.apps.ottomato.ai`)"
      - "traefik.http.routers.relay.entrypoints=web"
      - "traefik.http.services.relay.loadbalancer.server.port=80"
      - "traefik.docker.network=traefik-proxy"
    environment:
      - APP_ENV=prod
      - APP_SECRET=${APP_SECRET}
      - DATABASE_URL=postgresql://postgres:${DB_PASSWORD}@db:5432/relay
      - WEB_URL=${WEB_URL}
      - INSTANCE_DOMAIN=${INSTANCE_DOMAIN}
      - OIDC_ISSUER_URL=${OIDC_ISSUER_URL}
      - OIDC_CLIENT_ID=${OIDC_CLIENT_ID}
      - OIDC_CLIENT_SECRET=${OIDC_CLIENT_SECRET}
      - SERVER_NAME=:80
      - GO_SYMFONY_URL=http://127.0.0.1:80
    depends_on:
      - db
    networks:
      - hyvor-network
      - traefik-proxy

  worker:
    build: .
    container_name: hyvor-relay-worker
    command:
      - /app/worker
    restart: always
    environment:
      - APP_ENV=prod
      - APP_SECRET=${APP_SECRET}
      - DATABASE_URL=postgresql://postgres:${DB_PASSWORD}@db:5432/relay
      - WEB_URL=${WEB_URL}
      - INSTANCE_DOMAIN=${INSTANCE_DOMAIN}
      - GO_SYMFONY_URL=http://hyvor-relay-api:80
    depends_on:
      - db
    networks:
      - hyvor-network

  simulator:
    image: 'hyvor/smtp-simulator:latest'
    container_name: hyvor-relay-simulator
    restart: unless-stopped
    environment:
      - DOMAIN=simulator.net
    networks:
      - hyvor-network

volumes:
  postgres_data:

networks:
  hyvor-network:
  traefik-proxy:
    external: true
