services:
  api:
    build: .
    container_name: hyvor-relay-api
    restart: always
    environment:
      - APP_ENV=prod
      - 'APP_SECRET=${APP_SECRET}'
      - 'DATABASE_URL=${DATABASE_URL}'
      - 'WEB_URL=${WEB_URL}'
      - 'INSTANCE_DOMAIN=${INSTANCE_DOMAIN}'
      - 'OIDC_ISSUER_URL=${OIDC_ISSUER_URL}'
      - 'OIDC_CLIENT_ID=${OIDC_CLIENT_ID}'
      - 'OIDC_CLIENT_SECRET=${OIDC_CLIENT_SECRET}'
      # CRITICAL FIX: Tells the internal Go binary where to find the PHP API
      - 'GO_SYMFONY_URL=http://hyvor-relay-api:80'
    networks:
      - hyvor-network
      - coolify

  worker:
    build: .
    container_name: hyvor-relay-worker
    command:
      - /app/worker
    restart: always
    environment:
      - APP_ENV=prod
      - 'APP_SECRET=${APP_SECRET}'
      - 'DATABASE_URL=${DATABASE_URL}'
      - 'WEB_URL=${WEB_URL}'
      - 'INSTANCE_DOMAIN=${INSTANCE_DOMAIN}'
      # CRITICAL FIX: Tells the Worker where to find the API
      - 'GO_SYMFONY_URL=http://hyvor-relay-api:80'
    networks:
      - hyvor-network

  simulator:
    image: 'hyvor/smtp-simulator:latest'
    container_name: hyvor-relay-simulator
    restart: unless-stopped
    environment:
      - DOMAIN=simulator.net
    networks:
      - hyvor-network

networks:
  hyvor-network:
    external: true
  coolify:
    external: true
