services:
  hyvor-relay-api:
    image: ghcr.io/hyvor/relay:latest
    container_name: hyvor-relay-api
    restart: unless-stopped
    expose:
      - "80"
      - "443"
    networks:
      - coolify
    labels:
      caddy: relay.apps.ottomato.ai
      caddy.reverse_proxy: "{{upstreams 80}}"
    environment:
      - APP_ENV=${APP_ENV}
      - APP_SECRET=${APP_SECRET}
      - DB_PASSWORD=${DB_PASSWORD}
      - INSTANCE_DOMAIN=${INSTANCE_DOMAIN}
      - OIDC_CLIENT_ID=${OIDC_CLIENT_ID}
      - OIDC_CLIENT_SECRET=${OIDC_CLIENT_SECRET}
      - OIDC_ISSUER_URL=${OIDC_ISSUER_URL}
      - WEB_URL=${WEB_URL}
      - SERVICE_URL_API=${SERVICE_URL_API}
      - SERVICE_FQDN_API=${SERVICE_FQDN_API}
    volumes:
      - relay-data:/data
    depends_on:
      - hyvor-relay-db

  hyvor-relay-db:
    image: postgres:17-alpine
    container_name: hyvor-relay-db
    restart: unless-stopped
    networks:
      - coolify
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - relay-db:/var/lib/postgresql/data

volumes:
  relay-data:
  relay-db:

networks:
  coolify:
    external: true
