services:
  hyvor-relay-api:
    image: hyvor/relay:latest
    container_name: hyvor-relay-api
    expose:
      - 80
      - 443
    labels:
      caddy: relay.apps.ottomato.ai
      caddy.reverse_proxy: {{upstreams 80}}
    environment:
      - APP_ENV=${APP_ENV}
      - APP_SECRET=${APP_SECRET}
      - DB_PASSWORD=${DB_PASSWORD}
      - DATABASE_URL=${DATABASE_URL}
      - INSTANCE_DOMAIN=${INSTANCE_DOMAIN}
      - OIDC_CLIENT_ID=${OIDC_CLIENT_ID}
      - OIDC_CLIENT_SECRET=${OIDC_CLIENT_SECRET}
      - OIDC_ISSUER_URL=${OIDC_ISSUER_URL}
      - WEB_URL=${WEB_URL}
      - SERVICE_URL_API=${SERVICE_URL_API}
      - SERVICE_FQDN_API=${SERVICE_FQDN_API}
    restart: unless-stopped
    volumes:
      - relay-data:/data
    depends_on:
      - hyvor-relay-db
    networks:
      - coolify
  hyvor-relay-db:
    image: postgres:17-alpine
    container_name: hyvor-relay-db
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    restart: unless-stopped
    volumes:
      - relay-db:/var/lib/postgresql/data
    networks:
      - coolify
