services:
  api:
    image: hyvor/relay:latest
    container_name: hyvor-relay-api
    command: ["relay", "api"]
    restart: always
    environment:
      - APP_ENV=prod
      - APP_SECRET=${APP_SECRET}
      - DATABASE_URL=${DATABASE_URL}
      - WEB_URL=${WEB_URL}
      - INSTANCE_DOMAIN=${INSTANCE_DOMAIN}
      - OIDC_ISSUER_URL=${OIDC_ISSUER_URL}
      - OIDC_CLIENT_ID=${OIDC_CLIENT_ID}
      - OIDC_CLIENT_SECRET=${OIDC_CLIENT_SECRET}
    networks:
      - hyvor-network   # To talk to your Database
      - coolify         # To talk to the Internet (Traefik Proxy)

  worker:
    image: hyvor/relay:latest
    container_name: hyvor-relay-worker
    command: ["relay", "worker"]
    restart: always
    environment:
      - APP_ENV=prod
      - APP_SECRET=${APP_SECRET}
      - DATABASE_URL=${DATABASE_URL}
      - WEB_URL=${WEB_URL}
      - INSTANCE_DOMAIN=${INSTANCE_DOMAIN}
    networks:
      - hyvor-network

  simulator:
    image: hyvor/smtp-simulator:latest
    container_name: hyvor-relay-simulator
    restart: unless-stopped
    environment:
      - DOMAIN=simulator.net
    networks:
      - hyvor-network

networks:
  hyvor-network:
    external: true
  coolify:
    external: true
